@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;
  /* Near Black for Premium feel */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer utilities {
  .glass-card {
    @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-xl shadow-xl;
  }

  .glass-panel {
    @apply bg-slate-900/60 backdrop-blur-xl border-r border-white/10;
  }
}